<%= form_for(@angel) do |f| %>
  <% if @angel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@angel.errors.count, "error") %> prohibited this angel from being saved:</h2>

      <ul>
      <% @angel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :key %><br />
    <%= f.text_field :key %>
  </div>
  <div class="field">
    <%= f.label :fullname %><br />
    <%= f.text_field :fullname %>
  </div>
  <div class="field">
    <%= f.label :company %><br />
    <%= f.text_field :company %>
  </div>
  <div class="field">
    <%= f.label :custom %><br />
    <%= f.text_area :custom %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
