<p id="notice"><%= notice %></p>


<p>
  <b>Key:</b>
  <%= @angel.key %>
</p>

<p>
  <b>Fullname:</b>
  <%= @angel.fullname %>
</p>

<p>
  <b>Company:</b>
  <%= @angel.company %>
</p>

<p>
  <b>Custom:</b>
  <%= @angel.custom %>
</p>


Let's Get Popcorn is a <a href='http://www.rockingchairllc.com'>RockingChair LLC</a> brand.